<template>
  <div>
    <!-- <div class="logo-bingo"></div> -->
    <div class="font-modak text-red-600 text-4xl logo-shadow">
      <p>Bingo La</p>
      <p>Familia</p>
    </div>
  </div>
</template>
<style scoped>
.logo-bingo {
  background-image: url('~/static/logobingolafamilia.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 100px;
}
.logo-shadow {
  text-shadow: 2px 2px white;
}
</style>
