<template>
  <div class="dialogo-container">
    <div class="
      bg-gray-200
      rounded-lg m-10px
      max-h-11/12 max-w-500px w-full
      overflow-auto
    ">
      <div class="flex items-center justify-center font-fredoka !text-shadow-none p-3">
        <span class="text-xl text-black">
          {{ isLine ? 'Bingo completado ?' : 'Linea completada ?' }}
        </span>
        <div class="flex flex-grow"></div>
        <button class="btn-3d !bg-green-500 !text-white mr-5" @click="aceptDialog()">
          Si
        </button>
        <button class="btn-3d !bg-red-500 !text-white" @click="closeDialog()">
          No
        </button>
      </div>
      <div class="flex flex-wrap justify-center pt-4 pb-4 px-1">
        <div
          v-for="(item,i) in listBalls"
          :key="i"
          :class="[
            item.value ?
            'bg-rose-600 text-white' :
            'bg-transparent text-black',
            'container-number border border-black',
          ]"
        >
          <span class="
            flex items-center justify-center flex-grow
            text-sm text-base
            h-36px min-w-40px
          ">
              {{ item.id }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'
export default Vue.extend({
  computed: {
    listBalls() {
       return this.$store.state.ball.listBalls
    },
    isLine() {
    return this.$store.state.ball.isLine
    }
  },
  methods: {
    ...mapMutations({
      changeIsDialog: 'ball/CHANGE_ISDIALOG',
      changeIsLine: 'ball/CHANGE_ISLINE',
      changeIsBingo: 'ball/CHANGE_ISBINGO',
    }),
    closeDialog() {
      this.changeIsDialog(false)
    },
    aceptDialog() {
      this.closeDialog()
      this.changeIsLine(true)
    }

  }
})
</script>
<style scoped>
.dialogo-container {
  @apply fixed flex items-center justify-center;
  @apply h-screen w-screen;
  @apply top-0 left-0 p-2 z-10;
  @apply bg-black bg-opacity-50 backdrop-filter backdrop-blur-md;
}
.container-number {
  @apply rounded-lg inline-flex font-medium items-center justify-center align-middle relative uppercase whitespace-nowrap;
}
</style>
