<template>
  <div class="
    fixed flex justify-center items-center
    top-0 left-0 h-full w-full
    bg-black z-10
    "

  >
    <Logo></Logo>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Logo from '~/components/shared/BingoLogo.component.vue'
export default Vue.extend({
  components: {
    Logo
  }
})
</script>
