<template>
  <div class="flex justify-center container min-w-200px">
    <button id="bolaMain" class="bola" type="button" @click.stop.prevent="spinBall()">
      <div class="bola-number">
        {{ numWinner }}
      </div>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'
export default Vue.extend({
  data() {
    return {
      isProcessing: false as boolean,
      bola: null as any,
      numRandom: 0 as number,
      audioSpin: null as any,
    }
  },
  computed: {
    numWinner() {
     return this.$store.state.ball.numWinner
    },
    listBalls() {
      return this.$store.state.ball.listBalls
    },
    listBallsTombola() {
      return this.$store.getters['ball/getListBallsTombola']
    },
    listBallsWinners() {
      return this.$store.state.ball.listBallsWinners
    },
    listLastFiveBallsWinners() {
      return this.$store.state.ball.listBallsWinners.slice(-5)
    }
  },
  mounted() {
    this.bola = document.getElementById('bolaMain')
    this.loadAudio()
  },
  methods: {
    ...mapMutations({
      updateListBallsWinners: 'ball/UPDATE_LISTBALLSWINNER',
      addListBallsWinner: 'ball/ADD_LISTBALLSWINNER',
      updateListBallsTombola: 'ball/UPDATE_LISTBALLSTOMBOLA',
      changeNumWinner: 'ball/CHANGE_NUMWINNER',
      updateItemListBallsTombola: 'ball/UPDATE_ITEMLISTBALLSTOMBOLA'
    }),
    spinBall(){
      let self = this
      if(self.isProcessing) {
        return
      } else {
        self.isProcessing = true
        self.bola.classList.add('!ring-6','!ring-red-400')

        self.playAudioSpin()
        let intervalRandom = setInterval(() => {
          self.numRandom = self.getNumberRandom(0, self.listBallsTombola.length)

          if(self.listBallsTombola.length > 0) {
            let numWin = self.listBallsTombola[self.numRandom].id
            self.changeNumWinner(numWin)
          }

        }, 100)

        let timeoutRandom = setTimeout(() => {
            clearInterval(intervalRandom)
            self.updateItemListBallsTombola()
            self.addBallWin()
            self.speaking()
            self.saveData()
            self.bola.classList.remove('!ring-6', '!ring-red-400')
            self.audioSpin.currentTime = 0
            self.audioSpin.pause()
            self.isProcessing = false
        }, 2000)
      }
    },
    getNumberRandom(min:number, max:number) {
      return Math.floor(Math.random() * (max - min) + min)
    },
    addBallWin(){
      if(this.listBallsWinners.length === this.listBalls.length) {
        return 
      } else {
        this.addListBallsWinner({id: this.numWinner, value: true})
      }
    },
    saveData() {
      localStorage.setItem('listBallsStorage', JSON.stringify(this.listBalls))
      localStorage.setItem('lBWStorage', JSON.stringify(this.listBallsWinners))
      localStorage.setItem('nWStorage', JSON.stringify(this.numWinner))
    },
    speaking() {
      let numToString = this.numWinner.toString()
      let speakVoice = new SpeechSynthesisUtterance(numToString)
      speechSynthesis.speak(speakVoice)
    },
    loadAudio() {
      this.audioSpin= new Audio(
        require('@/static/spinball.ogg')
      )
    },
    playAudioSpin() {
      this.audioSpin.volume = 0.8
      this.audioSpin.play()
    }
  }
})
</script>

<style scoped>
.bola {
  @apply relative flex items-center justify-center overflow-hidden outline-none;
  @apply  w-250px h-250px;
  @apply after:(content-'' absolute top-[10%] left-[10%] h-[40%] w-[20%] rounded-1/2 bg-white bg-opacity-50 transform -skew-x-[20deg]);
  @apply rounded-full;
  @apply text-black;
  @apply bg-gradient-1;
  background: radial-gradient(farthest-corner at 20% 20%, rgba(250,250,250,1) 20%, rgba(100,100,100,1) 80%);
  box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset, .2em .1em 0 0 rgba(255,255,255,.2) inset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bola-number {
  @apply relative flex items-center justify-center;
  @apply h-[80%] w-[80%];
  @apply border-solid border-black rounded-1/2 border-8px;
  @apply font-black text-8xl;
}
</style>
