<template>
  <div class="text-center text-white text-xl font-fredoka">
    <span>Desde el</span>
    <span>{{ numMin }}</span>
    <label for="numberMax">hasta el</label>
    <input
      v-model="numMax"
      id="numberMax"
      type="number"
      min="1"
      name="numberMax"
      class="text-black text-center max-w-50px rounded-md"
    >
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'
export default Vue.extend({
  data() {
    return { }
  },
  computed: {
    listBalls(): object[] {
      return this.$store.state.ball.listBalls
    },
    listBallsTombola(): object[] {
      return this.$store.getters['balll/getListBallsTombola']
    },
    numMin():number{
     return this.$store.state.ball.numMin
    },
    numMax: {
      set(numMax) {
        this.changeNumMax(numMax)
        this.createListBalls()
        this.cleanListBallsWinners()
        this.changeNumWinner(0)
        localStorage.setItem('listBallsStorage', JSON.stringify(this.listBalls))
        localStorage.setItem('numMaxStorage', `${numMax}`)
      },
      get() {
        return this.$store.state.ball.numMax
      }
    }
  },
  mounted() {
    this.initMaxBalls()
  },
  methods: {
    ...mapMutations({
      changeNumMax: 'ball/CHANGE_NUMMAX',
      createListBalls: 'ball/CREATE_LISTBALLS',
      cleanListBallsWinners: 'ball/CLEAN_LISTBALLSWINNER',
      changeNumWinner: 'ball/CHANGE_NUMWINNER'
    }),
    initMaxBalls() {
      let localNumMax: string| null = localStorage.getItem('numMaxStorage')
        if(localNumMax) {
          this.changeNumMax(localNumMax)
        } else {
          localStorage.setItem('numMaxStorage', `${this.numMax}`)
        }
    },
  }
})
</script>
