<template>
  <div class="flex justify-center items-center">
    <div class="flex space-x-4">
      <div class="bola !w-50px !h-50px"
        v-for="(item, i) in getListLastFiveBalls"
        :key="i"
      >
        <div class="font-black text-2xl tracking-tighter">{{ item.id }}</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  computed: {
    getListLastFiveBalls() {
      return this.$store.state.ball.listBallsWinners.slice(-5)
    }
  }
})
</script>
<style scoped>
.bola {
  @apply relative flex items-center justify-center overflow-hidden outline-none;
  @apply  w-250px h-250px;
  @apply after:(content-'' absolute top-[10%] left-[10%] h-[40%] w-[20%] rounded-1/2 bg-white bg-opacity-50 transform -skew-x-[20deg]);
  @apply rounded-full;
  @apply text-black;
  @apply bg-gradient-1;
  background: radial-gradient(farthest-corner at 20% 20%, rgba(250,250,250,1) 20%, rgba(100,100,100,1) 80%);
  box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset, .2em .1em 0 0 rgba(255,255,255,.2) inset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

</style>>

