@font-face {
  font-family: 'Modak';
  src: url('~assets/fonts/modak/Modak-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka-One';
  src: url('~assets/fonts/freedoka/FredokaOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
