<template>
  <canvas id="myCanvas"></canvas>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    mounted() {
      var canvas = document.getElementById('myCanvas')
    }
})
</script>
