<template>
  <div class="layout-bingo">
  <Preload v-if="isPreload"></Preload>
    <div class="layout-bingo-head">
      <BarTop></BarTop>
    </div>
    <div class="layout-bingo-body">
      <nuxt />
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

import BarTop from '~/components/shared/bartop/bartop.component.vue'
import Preload from '~/components/shared/Preload.components.vue'
export default Vue.extend({
  components: {
    BarTop,
    Preload
  },
  data() {
    return {
      isPreload: true
    }
  },
  mounted() {
    this.isPreload = false
  }
})
</script>
<style scoped>
.layout-bingo {
  @apply min-h-screen overflow-hidden relative;
  @apply select-none;
  @apply bg-bingo bg-fixed bg-center bg-cover bg-no-repeat before:(content-'' top-0 left-0 fixed h-screen w-full bg-indigo-900 bg-opacity-95);
}

.layout-bingo-head {
  @apply flex items-center justify-center;
  position: relative;
}
</style>
