<template>
  <div class="text-white relative flex flex-col items-center justify-center mt-5">
    <RangeInput></RangeInput>
    <br />
    <ButtonBall></ButtonBall>
    <br />
    <LastFiveBalls></LastFiveBalls>
    <br />
    <div class="font-fredoka text-xl">
      <span class="mr-2">Se juega por:</span>
      <button
        :class="[isLine ? '!bg-green-600' : '!bg-red-600' ,'btn-3d']"
        @click="openDialog"
      >
        {{ isLine ? 'Bingo':'Linea' }}
      </button>
    </div>
    <br />
    <br />
    <div class="text-xl text-white font-fredoka">
      <span>Numero de lanzamientos :</span>
      <span class="ml-4">{{ listBallsWinners.length }}</span>
    </div>
    <Dialog v-if="isDialog"></Dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'
import RangeInput from '~/components/playgame/InputRangeBalls.component.vue'
import ButtonBall from '~/components/playgame/ButtonBall.component.vue'
import LastFiveBalls from '~/components/playgame/LastFiveBalls.component.vue'
import Dialog from '~/components/shared/Dialog.component.vue'
export default Vue.extend({
  components: {
    RangeInput,
    ButtonBall,
    LastFiveBalls,
    Dialog,
  },
  data() {
    return {
     listaBolas: [] as object[],
    }
  },
  computed: {
    listBalls(): object[] {
      return this.$store.state.ball.listBalls
    },
    listBallsWinners() {
      return this.$store.state.ball.listBallsWinners
    },
    listBallsTombola(): object[] {
      return this.$store.getters['ball/getListBallsTombola']
    },
    numMax(): number {
      return this.$store.state.ball.numMax
    },
    isDialog() {
      return this.$store.state.ball.isDialog
    },
    isLine() {
      return this.$store.state.ball.isLine
    },
    isBingo() {
      return this.$store.state.ball.isBingo
    }
  },
  mounted() {
    this.initListBalls()
    this.initListBallsWinners()
    this.initNumWinner()
  },
  methods: {
    ...mapMutations({
      createListBalls: 'ball/CREATE_LISTBALLS',
      updateListBalls: 'ball/UPDATE_LISTBALLS',
      changeNumMax: 'ball/CHANGE_NUMMAX',
      changeNumWinner: 'ball/CHANGE_NUMWINNER',
      changeIsDialog: 'ball/CHANGE_ISDIALOG',
      updateListBallsWinners: 'ball/UPDATE_LISTBALLSWINNER',
    }),
    initListBalls(){
      let localListBall: string|null = localStorage.getItem('listBallsStorage')

      if(localListBall) {
        this.updateListBalls(JSON.parse(localListBall))
      } else {
        this.createListBalls()
        localStorage.setItem('listBallsStorage', JSON.stringify(this.listBalls))
      }
    },
    initListBallsWinners() {
      let localListBallWinners: string|null = localStorage.getItem('lBWStorage')
        if(localListBallWinners) {
          this.updateListBallsWinners(JSON.parse(localListBallWinners))
        } else {
          this.updateListBallsWinners([])
        }
    },
    initNumWinner() {
      let localNumWinner: string|null = localStorage.getItem('nWStorage')
        if(localNumWinner) {
          this.changeNumWinner(localNumWinner)
        } else {
          return
        }
    },
    openDialog() {
      this.changeIsDialog(true)
    }

  }

})
</script>
