<template>
  <div class="bg-[rgba(0,0,0,0)]">
    <!-- <Pyro :power="true"></Pyro> -->
    <div class="layout-bingo-head">
      <button class="btn-3d outline-none" type="button" @click="restart()">Reiniciar</button>
    </div>

    <div class="layout-bingo-body bg-[rgba(0,0,0,0)]">

      <div class="grid grid-cols-1 gap-5">
        <!-- Component Desde -->
        <div 
          class="text-center text-white text-xl font-fredoka-one"
          style="text-shadow: 2px 2px black"
        >
          <span>Desde el</span>
          <span>{{ numMin }}</span>
          <label for="numeromax">hasta el</label>
          <input
            v-model="numMax"
            id="numeromax"
            type="number"
            name="numeromax"
            class="text-black text-center max-w-50px rounded-md"
            placeholder="numMax"
          >
        </div>

        <!-- Component Bola-->
        <div class="flex justify-center container min-w-200px">
          <button id="bolaMain" class="bola" type="button" @click.stop.prevent="spinBall()">
            <div class="bola-number">
              {{ numWinner }} 
            </div>
          </button>
        </div>
        
        <!--Component last five listBalls -->
        <div class="flex justify-center items-center">
          <div class="flex space-x-5">
            <div class="bola !w-50px !h-50px"
              v-for="(item, i) in listLastFiveBalls"
              :key="i"
            >
              <div class="font-black text-2xl tracking-tighter">{{ item.id }}</div>
            </div>
          </div>
        </div>

        <!-- Component Dialog -->
        <div class="flex flex-col items-center justify-center font-fredoka-one">
          <span class="text-white text-xl">Se juega por : </span>
          <br>
          <button
            :class="[isLine ? '!bg-green-500' : '!bg-red-500' ,'btn-3d']"
            type="button"
            @click="openDialog()"
          >
            {{ isLine ? 'Bingo' : 'Linea' }}
          </button>
        </div>

        <div v-if="dialog" class="dialog-container">
          <div class="
            bg-gray-200
            rounded-lg m-10px
            max-h-11/12 max-w-500px w-full
            overflow-auto
          ">
            <div class="flex items-center justify-center font-fredoka-one !text-shadow-none p-3">
              <span class="text-xl">Linea Completada ?</span>
              <div class="flex flex-grow"></div>
              <button class="btn-3d !bg-green-500 !text-white mr-5" @click="acceptDialog()">
                si
              </button>
              <button class="btn-3d !bg-red-500 !text-white" @click="closeDialog()" >
                no
              </button>
            </div>
            <div class="flex flex-wrap justify-center pt-4 pb-4">
              <div
                v-for="(item,i) in listBalls"
                :key="i"
                :class="[
                  item.value ?
                  'bg-rose-600 text-white' :
                  'bg-transparent text-black',
                  'container-number border border-black'
                ]"
              >
                <span class="
                  flex items-center justify-center flex-grow
                  text-sm text-base
                  h-36px min-w-40px
                ">
                  {{ item.id }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="text-white text-xl font-fredoka-one">
            <span>Número de lanzamientos : </span>
            <span>{{ listBallsWinners.length }}</span>
          </div>
        </div>
        <div class="text-white">
          {{ listBalls }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Logo from '~/components/shared/BingoLogo.component.vue'
import Dialog from '~/components/shared/Dialog.component.vue'
import Pyro from '~/components/shared/pyrotechnics/Pyrotechnics.component.vue'

interface Bingo {
  dialog: boolean,
  numMin: number,
  numMax: number,
  numWinner: number,
  numRandom: any,
  audioSpin: any,
  isLine: boolean,
  isProcessing: boolean,
  listBalls: any[], 
  listBallsWinners: any[],
  listLastFiveBalls: number[],
  listTombola: any[],
  listNew: number[],
  entradasInvalidas: number,
  bola: any,
}

export default Vue.extend({
  components: {
    Logo,
    Dialog,
    Pyro,
  },
  data() {
    return {
      numMin: 1,
      numMax: 90,
      numWinner: 0,
      numRandom: 0,
      audioSpin: null,
      isLine: false,
      isProcessing: false,
      dialog: false,
      listBalls: [],
      listLastFiveBalls: [],
      listTombola: [],
      listBallsWinners: [],
      listNew: [],
      entradasInvalidas: 0,
      bola: null,
    } as Bingo
  },
  watch: {
    numMax: {
      handler: 'getListBalls',
    },
    listBalls: {
      handler: 'getTombola',
      immediate: true,
      deep: true
    },
  },
  mounted() {
    this.loadAudioSpin()
    this.getListBalls()
    this.bola = document.getElementById('bolaMain')
  },
  methods: {
    getListBalls():any {
      this.listBalls = []
      for(let i = 0; i < this.numMax; i++) {
        this.listBalls.push({'id': i + 1 , 'value': false})
      }
    },
    getListLastFiveBalls() {
      this.listLastFiveBalls = this.listBallsWinners.slice(-5)
    },
    closeDialog() {
      this.dialog = false
    },
    acceptDialog() {
      this.isLine = true
      this.closeDialog()
    },
    openDialog() {
      this.dialog = true
    },
    getNumberRandom (min:number, max:number) {
        return  Math.floor(Math.random() * (max - min) + min)  
    },
    pushBallListTombola() {
      for(let i = 0; i < this.listTombola.length; i++) {
        if(this.numWinner === this.listTombola[i].id)
        {
          this.listTombola[i].value = true
          this.listBallsWinners.push({'id': this.listTombola[i].id, 'value': this.listTombola[i].value})
        }
      }
    },
    spinBall() {
      let self = this
        if(self.isProcessing) {
          return
        } else {
          self.isProcessing = true
          self.bola.classList.add('!ring-6','!ring-red-400')

          this.audioSpin.volume = 0.8
          this.audioSpin.play()

          let intervalRandom = setInterval(function() {
            self.numRandom = self.getNumberRandom(0, self.listTombola.length)
            if(self.listTombola.length > 0)
            {
              self.numWinner = self.listTombola[self.numRandom].id
            }
          }, 100)

          let timeoutRandom = setTimeout(function() {
              clearInterval(intervalRandom)
              self.pushBallListTombola()
              self.getListLastFiveBalls()
              self.speaking()
              self.bola.classList.remove('!ring-6','!ring-red-400')
              self.isProcessing = false
              self.audioSpin.currentTime = 0
              self.audioSpin.pause()
          }, 2000)

        }


    },
    speaking() {
      let num= this.numWinner
      let numToString = num.toString()
      let utterance = new SpeechSynthesisUtterance(numToString)
      speechSynthesis.speak(utterance)
    },
    restart() {
      this.getListBalls()
      this.numMax = 90
      this.listBallsWinners = []
      this.listLastFiveBalls = []
      this.numWinner = 0
      this.isLine = false
    },
    getTombola() {
      this.listTombola = this.listBalls.filter(this.filterItemFalse)
      console.log('getTombola')
    },
    filterItemFalse(obj:any) {
      if ('value' in obj && typeof(obj.value) === 'boolean' && !isNaN(obj.value) && obj.value === false) {
        return true;
      } else {
        return false;
      }
    },
    loadAudioSpin() {
      this.audioSpin= new Audio(
        require('@/static/spinball.ogg')
      )
    },
  }
})
</script>
<style scoped>
@font-face {
  font-family: 'Fredoka-One';
  src: url('~assets/fonts/freedoka/FredokaOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-fredoka-one{
  font-family: "Fredoka-One", cursive;
  text-shadow: 2px 2px black;
}
* {
  box-sizing: border-box;
}
.layout-bingo-head {
  @apply flex items-center justify-center text-white px-4 py-1;
  position: relative;
}
.layout-bingo-body {
  @apply container mx-auto px-4 mt-5;
  position: relative;
}
.dialog-container {
  @apply fixed py-4 bg-[rgba(0,0,0,.5)] backdrop-filter backdrop-blur-md h-screen w-screen top-0 left-0 z-10 flex items-center justify-center;
}
.container-number {
  @apply rounded-lg inline-flex font-medium items-center justify-center align-middle relative uppercase whitespace-nowrap;
}
.bola {
  @apply relative flex items-center justify-center overflow-hidden outline-none;
  @apply  w-250px h-250px;
  @apply after:(content-'' absolute top-[10%] left-[10%] h-[40%] w-[20%] rounded-1/2 bg-white bg-opacity-50 transform -skew-x-[20deg]);
  @apply rounded-full;
  @apply text-black;
  @apply bg-gradient-1;
  background: radial-gradient(farthest-corner at 20% 20%, rgba(250,250,250,1) 20%, rgba(100,100,100,1) 80%);
  box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset, .2em .1em 0 0 rgba(255,255,255,.2) inset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bola-number {
  @apply relative flex items-center justify-center;
  @apply h-[80%] w-[80%];
  @apply border-solid border-black rounded-1/2 border-8px;
  @apply font-black text-8xl;
}
</style>
