<template>
  <div class="flex items-center justify-center text-white px-4 py-1 w-full">
    <Logo></Logo>
    <div class="flex flex-grow"></div>
    <button class="btn-3d" @click="restartGame()">Reiniciar</button>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapState, mapMutations } from 'vuex'

import Logo from '~/components/shared/BingoLogo.component.vue'
export default Vue.extend({
  components: {
    Logo
  },
  data() {
    return {
    }
  },
  computed: {
    listBalls(): object[] {
      return this.$store.state.ball.listBalls
    },
    listBallsWinners(): object[] {
      return this.$store.state.ball.listBallsWinners
    },
    numWinner(): number {
      return this.$store.state.ball.numWinner
    },
    numMax():number {
      return this.$store.state.ball.numMax
    }
  },
  mounted() {
  },
  methods: {
    ...mapMutations({
      addBall: 'ball/ADD_BALL',
      createListBalls: 'ball/CREATE_LISTBALLS',
      changeNumMax: 'ball/CHANGE_NUMMAX',
      changeNumWinner: 'ball/CHANGE_NUMWINNER',
      changeIsLine: 'ball/CHANGE_ISLINE',
      cleanListBallsWinners: 'ball/CLEAN_LISTBALLSWINNER'
    }),
    restartGame(){
      this.changeNumMax(90)
      this.changeNumWinner(0)
      this.changeIsLine(false)
      this.createListBalls()
      this.cleanListBallsWinners()
      this.saveData()
    },
    saveData() {
      localStorage.setItem('listBallsStorage', JSON.stringify(this.listBalls))
      localStorage.setItem('lBWStorage', JSON.stringify(this.listBallsWinners))
      localStorage.setItem('nWStorage', JSON.stringify(this.numWinner))
      localStorage.setItem('numMaxStorage', `${this.numMax}`)
    }
  }
})
</script>
