<template>
  <canvas id="lienzo"></canvas>
</template>
<script>
import Vue from 'vue'
import Pyro from './particle.class.js'
export default Vue.extend({
  props: {
    power: {
     type: Boolean,
     default: false
    },
  },
  data() {
    return {
      canvas: null,
      ctx: null,
      arrayParticles: [],
      arrayFire: [],
    }
  },
  mounted(){
    this.init()
  },
  methods: {
    switchPyro () {
      if(this.power){
        this.init()
      } else {
        console.log('apagado')
      }
    },
    getNumberRandom(min, max){
      return Math.floor(Math.random() * (max - min + 1) + min)
    },
    init() {
      this.canvas = document.getElementById('lienzo')
      this.ctx = this.canvas.getContext('2d')

      this.canvas.height = window.innerHeight
      this.canvas.width = window.innerWidth
      let numberParticles = 10
      let numberFire = 10

      for(let i = 0; i < numberParticles; i++)
      {
        this.randomX = this.getNumberRandom(0, this.canvas.width)
        this.randomY = this.getNumberRandom(0, this.canvas.height)
        this.arrayParticles.push(new Pyro(this.canvas, this.ctx))
      }

      for(let i = 0; i < numberFire; i++){
        this.arrayFire.push(new Pyro(this.canvas, this.ctx))
      }

      this.animate()
    },
    animate(){
      this.ctx.fillStyle = 'rgba(0,0,0, 0.05)'
      this.ctx.fillRect(0,0,this.canvas.width, this.canvas.height)
      // this.ctx.clearRect(0,0,this.canvas.width, this.canvas.height)

      for(let i = 0; i < this.arrayParticles.length; i++) {
        this.arrayParticles[i].update()
        this.arrayParticles[i].draw()
      }

      window.requestAnimationFrame(this.animate)
    }
  }
})
</script>
<style scoped>
#lienzo {
  position: relative;
  background-color: rgba(255,255,255,0);
  top: 0;
  left: 0;
  position: absolute;
}
</style>
